@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
*{margin:0; padding:0}

body{
   line-height: 1;
   font-family: "Open Sans", "Noto Sans KR", sans-serif;
   font-size: 1em;
}

#menu{
   text-align:center;
   font-size: 14px;
/*    background-color: #999; */
}
#menu > ul > li{
   display: inline-block;
   position: relative;
   list-style: none;
}



#menu > ul > li > a{
   display: block;
/*    padding: 10px 40px; */
    padding: 50px 40px 20px 40px;
   font-weight: 900;
   font-size: 19px;
/*    background-color: #999; */
   color: #333; 
}


#menu ul .y{
   display:none;
   position: absolute;
   left: 0;
   top: 80px;
   width:100%;
    background: #0095eb; 
   height: 60px;
}

#menu ul .y1{
   display:none;
   position: absolute;
   left: 0;
   top: 80px;
   width:100%;
    background: #0095eb; 
   height: 40px;
}

#menu ul .y2{
   display:none;
   position: absolute;
   left: 0;
   top: 80px;
   width:100%;
    background: #0095eb; 
   height: 85px;
}



#menu  ul li ul li {
   color: #fff;
   margin-top: 10px;
}

#menu  ul li ul li a{
   color: #fff;
}

#menu > ul > li:hover ul {
   display: block;
   font-size: 15px;
   font-weight: 900;
}

/* nav li { */


/*     background-repeat: no-repeat; */
/*     background-position: center top; */
/* } */


#menu ul li:nth-child(1) {
   background-image: url(../images/menuIcon01.png);
   background-repeat: no-repeat;
   background-position: 50px 20px;
}

#menu ul li:nth-child(1):hover {
   background-image: url(../images/menuIcon01_on.png);
   background-repeat: no-repeat;
   background-position: 50px 20px;
   z-index: 5;
}

#menu ul li:nth-child(2) {
   background-image: url(../images/menuIcon02.png);
   background-repeat: no-repeat;
   background-position: 75px 20px;
}

#menu ul li:nth-child(2):hover {
   background-image: url(../images/menuIcon02_on.png);
   background-repeat: no-repeat;
   background-position: 75px 20px;
   z-index: 5;
}
#menu ul li:nth-child(3) {
   background-image: url(../images/menuIcon04.png);
   background-repeat: no-repeat;
   background-position: 75px 20px;
}

#menu ul li:nth-child(3):hover {
   background-image: url(../images/menuIcon04_on.png);
   background-repeat: no-repeat;
   background-position: 75px 20px;
   z-index: 5;
}

#menu ul li:nth-child(4) {
   background-image: url(../images/menuIcon05.png);
   background-repeat: no-repeat;
   background-position: 42px 20px;
}

#menu ul li:nth-child(4):hover {
   background-image: url(../images/menuIcon05_on.png);
   background-repeat: no-repeat;
   background-position: 42px 20px;
   z-index: 5;
}
#menu ul li:nth-child(5) {
   background-image: url(../images/menuIcon03.png);
   background-repeat: no-repeat;
   background-position: 44px 20px;
}

#menu ul li:nth-child(5):hover {
   background-image: url(../images/menuIcon03_on.png);
   background-repeat: no-repeat;
   background-position: 44px 20px;
   z-index: 5;
}

#menu ul li:nth-child(6) {
   background-image: url(../images/menuIcon06.png);
   background-repeat: no-repeat;
   background-position: 62px 20px;
}

#menu ul li:nth-child(6):hover {
   background-image: url(../images/menuIcon06_on.png);
   background-repeat: no-repeat;
   background-position: 62px 20px;
   z-index: 5;
}

#menu ul li:nth-child(7) {
   background-image: url(../images/menuIcon07.png);
   background-repeat: no-repeat;
   background-position: 61px 20px;
}

#menu ul li:nth-child(7):hover {
   background-image: url(../images/menuIcon07_on.png);
   background-repeat: no-repeat;
   background-position: 61px 20px;
   z-index: 5;
}

/* 호버 여깄다!!!!!!!!!!!!!!!호버호버 */ 
#menu ul li:hover .x{
   color:#0095eb;
}

#menu ul li:hover .x1{
   color:#0095eb;
}

#menu ul li:hover .x2{
   color:#0095eb;
}

#menu ul li:hover .x3{
   color:#0095eb;
}

#menu ul li:hover .x4{
   color:#0095eb;
}

#menu ul li:hover .x5{
   color:#0095eb;
}

#menu ul li:hover .x6{
   color:#0095eb;
}


/* 클릭 */
a:link, a:visited {
    color: #333;
    text-decoration: none;
    
}
/* 점 없애기 */
li{list-style:none;}

/* 미니 네비바 */
.headUtil .fr{
   width:1240px;
   margin:0 auto;
   background: #f2f2f2;
   padding-left: 80%;
}
.headUtil .fr a{
   display: inline-block;
    padding: 5px 10px 5px;
    font-size: 13px;
    color: #777;
}

nav h1{
    display: block;
    width: 101px;
    height: 97px;
    
/*     text-indent: -999em; */
   
}

nav{width: 1240px; margin: 0 auto; 
   height: 180x;
   padding-left:150px; 
   /* margin-left:400px; */

   padding-top: 50px;
   background: url(../images/logo.png) no-repeat;
   background-position: 90px 40px;
   }

/* ==========================여기까지 네비바============================ */


.mytashuArea p {
    font-size: 15px;
    color: #777777;
    margin-bottom: 60px;
}


#subCont .scont_wrap{
	max-width: 1240px;
	margin: 0 auto;
	height: 1900px;
	padding-top: 60px;
/* 	background: lightgray; */
}
#sublocation {
    position: relative;
    z-index: 1;
    float: left;
    width: 240px;
    min-height: auto;
    margin: 0 0 70px;
}

#sublocation h2 {
    background: #008ada url(../images/sublocation.png) no-repeat;
    border-radius: 0 40px 0 0;
    text-align: center;
    font-size: 28px;
    color: #fff;
    letter-spacing: -1px;
    padding: 54px 30px;
}

#sublocation h2 span {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: rgba(255,255,255,0.6);
}

#sublocation .link li > #use{
    border: 1px solid #00446b;
    background: #00446b;
    font-family: 'Noto Sans M';
    color: #fff;
}
#sublocation .link li a {
    display: block;
    position: relative;
    padding: 15px 20px;
}
#sublocation .link > li {
    position: relative;
    border: 1px solid #cecece;
    border-top: none;
}

.subcontents{
/* 	margin-left:240px; */
/* 	background: olive; */
	margin-top: 100px;
	width: 1000px;
	height:1000px;
}

#cont_wrap .tashu_h4:before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 19px;
    background: #009440;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}


.bikeStation .stationBox .stationTitle a {
    display: block;
    padding: 19% 0;
    height: 160px;
    
}

.bikeStation .stationBox .bike_box stationCont {
    float: left;
    width: 69%;
    padding: 35px;
/*     height: 400px; */
}

.bikeStation .stationBox bike_box stationTitle {
	height:800px;
} 

/*대여이력이 없습니다 이미지 부분*/
.subcontents #cont_wrap .mytashuArea{
   width: 800px;
   margin: 0 auto;
 
   z-index: 10px;
   padding-top: 30px;
   text-align: center;
}



.bikeStation .stationBox {
    margin-bottom: 20px;
}

.mytashu_pop .cont .top a.btn {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    background: url(../images/btnx3.png) no-repeat center right;
    background-size: 100%;
    font-size: 0;
    width: 20px;
    height: 21px;
}

.mytashu_pop .cont .top h4 {
    font-family: 'Noto Sans M';
    font-weight: normal;
    font-size: 18px;
    color: #fff;
    letter-spacing: -1px;
}

a img, input.type-image {
    border: 0 none;
}

.mytashu_pop {
    display: none;
    z-index: 1000;
    position: fixed;
    margin-bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5%;
    border: 0;
    background-color: rgba(33,33,33,.8);
    height: auto;
}

.bikeStation .stationBox .stationTitle {
    float: left;
    width: 25%;
    margin-right: 6%;
    text-align: center;
    position: relative;
    background: url(../images/station_more.png)right bottom no-repeat;
}

.bikeStation .stationBox .bike_box {
    border: 2px solid #ececec;
    border-radius: 15px;
/*     height: 240px; */
}

.bikeStation .stationBox .stationCont {
    float: left;
    width: 69%;
    padding: 35px;
    height: 179px;
    margin-bottom: 40px;
}

.bikeStation .stationBox .stationTitle {
    float: left;
    width: 25%;
    margin-right: 6%;
    text-align: center;
    position: relative;
    background: url(../images/station_more.png)right bottom no-repeat;
}


.bikeStation .stationBox .stationCont {
    float: left;
    width: 60%;
    padding: 35px;
}

.mytashuArea p {
    font-size: 15px;
    color: #777777;
    margin-bottom: 50px;
}




table{
	width : 800px;
	border: 1px solid black;
	font-size: 17px;
		border-collapse : collapse;
	border-left : none;
	border-right : none;
}

td, tr{
	font-family: "Open Sans", "Noto Sans KR", sans-serif;  
	text-align: center;
	font-size:15px;
	font-weight: 300;
	padding-left: 40px;
	padding-right: 40px;
	white-space: nowrap;
	padding-bottom: 20px;
    padding-top: 20px;
}
	
}


td:nth-child(2),td:nth-child(3),td:nth-child(4),td:nth-child(7),td:nth-child(8){
	width:55px;
	font-size: 15px;
}

th:nth-child(6){
	width:60px;
	font-size:15px;
}

tbody tr:nth-child(1) {
    background-color: #e3f2fd;
}



th{
	font-family: "Open Sans", "Noto Sans KR", sans-serif;  
	background-color: #2c85b8;
	color: white;
	height: 33px;
	font-size: 18px; 
	font-weight: bold;
padding : 10px;
	
}











/* 빨리하자 */

#subCont .subcontents {
    position: relative;
    float: right;
    width: 940px;
}


#subCont .subcontents #location {
    position: relative;
    width: 100%;
    margin: 0 0 20px;
    padding: 0 0 25px;
}

#cont_wrap .mytashuArea .tashu_h4 {
    font-size: 20px;
    margin-bottom: 10px;
    letter-spacing: -0.03em;
    position: relative;
    padding-left: 10px;
}

#cont_wrap .tashu_h4 {
    font-size: 20px;
    margin-bottom: 10px;
    letter-spacing: -0.03em;
    position: relative;
    padding-left: 10px;
}

.mytashuArea p {
    font-size: 15px;
    color: #777777;
    margin-bottom: 50px;
    padding-top: 10px;
    line-height: 25px;
}




.loginArea {

    width: 550px;
    height: 350px;
    margin: 0 auto;
    padding: 120px 80px;
    border: 1px solid #cecece;
    background-color: lightgray;
    font-family: 'Noto Sans B';
    text-align: center;
    
 
}

.loginArea h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Noto Sans B';
}

input::placeholder {
  font-weight: bold;
  font-family: 'Noto Sans B';
  
}

.btn_myT {
 font-weight: bold;
 font-family: 'Noto Sans B';
 color: #fff !important;
 border: 1px solid #444;
 background: #444;
 border-radius: 5px;

}
.image {
	width: 20px; height: 20px;
	
}














/* ===========================푸터시작============================= */
#footer{
   width: 100%;
   height: 200px;
   background-color: #2b2b2b; 
}

#footer .footCont{
   max-width: 1240px;
   margin: 0 auto;
   padding: 40px 0 60px;
}

#footer .footCont .footAddr address span {
    position: relative;
    display: block;
    font-size: 14px;
    color: #9c9c9c;
    margin-bottom: 5px;
}
#footer .footCont .footAddr .copy{
   margin-top: 20px;
   font-size:13px;
   color: #f3f3f3;
}